body {
	color: #7d97ad;
}

hr {
	border: solid 1px #2d3c49;
}

header {
	background-color: #06467f;
}

img {
	/*padding: ;*/
	/*margin-top: auto;*/
	box-shadow: 2px 2px 2px 2px grey;
	border-radius: 10px;
}

button {
	background-color: #06467f;
	border: none;
}

.row {
	margin-bottom: 3px;
}